/* a{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2rem;
    color: #fff !important;
    text-align: center;
    line-height: 50vh;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

a:hover{
    filter: brightness(50%);
    transition: all 0.2s ease-in-out;
} */

#btn-doacao{
    background-image: url(../img/doacao.jpg);
}

/* @media(max-width: 380px){
    a{
        height: 40vh;
        line-height: 40vh;
    }
} */